$text-color: #333333;
$primary-color: #F00000;
$secondary-color: #F00000;

:root {
    --dark-color: #333333;
    --text-color: #333333;
    --text-color-rgb: 55,55,55;
    --primary-color: #1A75D2;
    --primary-color-rgb: 26,117,210;
    --secondary-color: #Ef534F;
}

$fa-font-path:        "../webfonts";