@import "_variables.scss";
@import "sections.scss";
@import "lists.scss";
//@import "fontawesome/fontawesome.scss";
//@import "fontawesome/solid.scss";
//@import "fontawesome/regular.scss";


/*********/
/*********/
/*********/

.fw-100 {font-weight:100}
.fw-200 {font-weight:200}
.fw-300 {font-weight:300}
.fw-400 {font-weight:400}
.fw-500 {font-weight:500}
.fw-600 {font-weight:600}
.fw-700 {font-weight:700}
.fw-800 {font-weight:800}
.fw-900 {font-weight:900}

/*********/
/*********/
/*********/

a {
    &:hover {
        text-decoration:none;
    }
}

.btn {
    transition:none;
    svg + *,
    i + * {
        margin-left:0.4em;
    }
}

.btn-primary {
    color: #fff;
    background-color:var(--primary-color);
    border-color:var(--primary-color);
    &:hover {
        background-color:var(--dark-color);
        border-color:var(--dark-color);
    }
}

.btn-secondary {
    color: #fff;
    background-color:var(--secondary-color);
    border-color:var(--secondary-color);
    &:hover {
        background-color:var(--dark-color);
        border-color:var(--dark-color);
    }
}

.btn-light {
    color:var(--text-color);
    background-color:rgba(var(--text-color-rgb),0.066);
    border-color:rgba(var(--text-color-rgb),0.066);
}

.btn-link {
    color: var(--primary-color);
    &:hover {
        text-decoration:none;
        color:var(--dark-color);
    }
}

/*********/
/*********/
/*********/

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    min-height:600px;
}

.section-header {
    .section-title {
        .feather {
            position: relative;
            top:-3px;
            width: 32px;
            height: 32px;
            stroke: currentColor;
            stroke-width: 1.2;
        }
        a {
            color:var(--text-color);
            &:hover {
                color:var(--primary-color);
            }
        }
    }
}

header#header {
    border-bottom:2px solid var(--primary-color);
    .btn {
        line-height:20px;
        padding-top:10px;
        padding-bottom:10px;
        margin-top:10px;
        margin-bottom:10px;
    }
}

.logo {
    a {
        img {
            //max-width: 200px;
            max-height: 60px;
        }
    }
}

.main-menu {
    .nav-link {
        padding:0 1em;
        line-height:60px;
        //font-size:0.75rem;
        //text-transform:uppercase;
        color:var(--primary-color);
        &:hover {
            color:var(--text-color);
        }
    }
}
footer#footer {
    // background:var(--dark-color);
    // color:#FFF;
    color:var(--primary-color);
    border-top:2px solid var(--primary-color);
}
.footer-menu {
    .nav-item {}
    .nav-link {
        display:inline-block;
        padding:0;
        //color:#FFF;
        color:var(--primary-color);
        &:hover {
            color:var(--text-color);
        }
    }
}


.form-group-label {
    font-weight:700;
}
.way-too-many-checkboxes {
    position:relative;
    max-height:8em;
    border:1px solid rgba(var(--text-color-rgb),0.1);
    overflow:scroll;
    &:hover {
        color:var(--primary-color);
        border-color:var(--primary-color);
    }
}




